REPO_OWNER=syncthing
REPO_NAME=syncthing
DOWNLOAD_ROOT=./data/local-releases
KEEP_VERSIONS=3
RELEASE_COUNT=3
SYNC_PROFILE=windows
ASSET_MATCH=
FORCE_DOWNLOAD=0
MIRROR_BASE_URL=https://download.example.com/syncthing
PUBLISH_LAYOUT=versioned

LOCAL_PUBLISH_PATH=/var/www/downloads/syncthing
LOCAL_STAGE_ROOT=
LOCAL_DRY_RUN=0

LOCAL_DEPLOY_HOST=dl.cjj365.cc
LOCAL_DEPLOY_USER=deploy
LOCAL_DEPLOY_PORT=22
LOCAL_DEPLOY_BASE_DIR=/opt/syncthing-installer-local-sync
LOCAL_SYSTEMD_NAME_PREFIX=syncthing-installer-local-sync
LOCAL_RUN_USER=deploy
LOCAL_RUN_GROUP=deploy
LOCAL_TIMER_ON_CALENDAR=hourly

# 如果 dl.cjj365.cc 需要通过代理访问 GitHub，可在这里填写。
CURL_PROXY=
NO_PROXY=