REPO_OWNER=syncthing
REPO_NAME=syncthing
DOWNLOAD_ROOT=./data/releases
KEEP_VERSIONS=3
RELEASE_COUNT=3
SYNC_PROFILE=windows
ASSET_MATCH=
MIRROR_BASE_URL=https://download.example.com/syncthing
REMOTE_HOST=example.com
REMOTE_USER=deploy
REMOTE_PATH=/var/www/downloads/syncthing
REMOTE_PORT=22
DRY_RUN=0
PUBLISH_LAYOUT=versioned
STAGE_ROOT=